In [1]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")

this is class

In [2]:
fun()

this is fun

In [4]:
class Emp: 
# class object(Emp), in stack it will create a frame. in the fram it will add(name,emp_id)
    name="Jay"
    emp_id=20
print(Emp)

<class '__main__.Emp'>

In [5]:
class Emp: 
# class object(Emp), in stack it will create a frame. in the fram it will add(name,emp_id)
    name="Jay"
    emp_id=20
print(Emp)
print(Emp.name)
print(Emp.emp_id)

<class '__main__.Emp'>
Jay
20

In [6]:
class Emp: 
# class object(Emp), in stack it will create a frame. 
#in the frame it will add(name,fun,emp_id)
    name="Jay"
    emp_id=20
    def fun(x):
        print("this is fun in class")

In [7]:
class Emp: 
# class object(Emp), in stack it will create a frame. 
#in the frame it will add(name,fun,emp_id)
    name="Jay"
    emp_id=20
    def fun(x):
        print("this is fun in class")
Emp.fun(10)

this is fun in class

In [8]:
class Emp: 
# class object(Emp), in stack it will create a frame. 
#in the frame it will add(get)
    def get(x):
        print("this is get")
    
jay=Emp() # Emp() is a data object, jay is a reference of data object

In [9]:
class Emp: 
# class object(Emp), in stack it will create a frame. 
#in the frame it will add(get)
    company_name="Khyaathi"# class object attribute
    def get(x):
        print("this is get")
    
jay=Emp() # Emp() is a data object, jay is a reference of data object
jay.name="jayaram"
jay.id=20 #name,id are data object attributes
print(jay.name,jay.id,jay.company_name)
# the class object attributes(company_name) can be access using data object

jayaram 20 Khyaathi

In [10]:
class Emp: 
# class object(Emp), in stack it will create a frame. 
#in the frame it will add(get)
    company_name="Khyaathi"# class object attribute
    def get(x):
        print("this is get")
    
jay=Emp() # Emp() is a data object, jay is a reference of data object
jay.name="jayaram"
jay.id=20 #name,id are data object attributes
print(jay.name,jay.id,jay.company_name)
# the class object attributes(company_name) can be access using data object
print(Emp.name)# the data object attribute cant access using class object

jayaram 20 Khyaathi

AttributeError: type object 'Emp' has no attribute 'name'

In [11]:
class Emp: 
# class object(Emp), in stack it will create a frame. 
#in the frame it will add(get)
    company_name="Khyaathi"# class object attribute
    def get(x):
        print("this is get")
    
jay=Emp() # Emp() is a data object, jay is a reference of data object
jay.name="jayaram"
jay.id=20 #name,id are data object attributes
print(jay.name,jay.id,jay.company_name)
# the class object attributes(company_name) can be access using data object
jay.company_name="KHYAATHI"
print(Emp.company_name)
print(jay.company_name)

jayaram 20 Khyaathi
Khyaathi

In [12]:
class Emp: 
    def get(x):
        print(x.name,x.id)
jay=Emp()
jay.name="jayaram"
jay.id=20
Emp.get(jay)

jayaram 20

In [13]:
class Emp: 
    def get(x):
        print(x.name,x.id)
jay=Emp()
jay.name="jayaram"
jay.id=20
Emp.get(jay)
vedha = Emp()
vedha.name="Vedhanvesh"
vedha.id=23
Emp.get(vedha)

jayaram 20
Vedhanvesh 23

In [14]:
class Emp:
    company_name="khyaathi"
    def get(x):
        print(x.name,x.id,x.company_name)
jay=Emp()
jay.name="jayaram"
jay.id=20
jay.company_name="KHYAATHI"
Emp.get(jay)
vedha = Emp()
vedha.name="Vedhanvesh"
vedha.id=23
vedha.company_name="KHYAATHI"
Emp.get(vedha)

jayaram 20 KHYAATHI
Vedhanvesh 23 KHYAATHI

In [ ]:
class Emp:
    company_name="khyaathi"
    def get(x):
        print(x.name,x.id,x.company_name)
jay=Emp()
jay.name="jayaram"
jay.id=20
jay.company_name="KHYAATHI"
Emp.get(jay)
vedha = Emp()
vedha.name="Vedhanvesh"
vedha.id=23
vedha.company_name="KHYAATHI"
Emp.get(vedha)

In [15]:
print(dir(jay))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'company_name', 'get', 'id', 'name']

In [17]:
class Emp:
    company_name="khyaathi"
    def get(x):
        print(x.name,x.id,x.__class__.company_name,x.company_name)
jay=Emp()
jay.name="jayaram"
jay.id=20
jay.company_name="KHYAATHI"
Emp.get(jay)
vedha = Emp()
vedha.name="Vedhanvesh"
vedha.id=23
vedha.company_name="KHYAATHI"
Emp.get(vedha)

jayaram 20 khyaathi KHYAATHI
Vedhanvesh 23 khyaathi KHYAATHI

In [20]:
class Emp:
    def get(x):
        print(x.name,x.id)
jay=Emp()
jay.name="jayaram"
jay.id=20
Emp.get(jay)
vedha = Emp()
vedha.name="Vedhanvesh"
vedha.id=23
vedha.sal=23456
Emp.get(vedha)

jayaram 20
Vedhanvesh 23

In [21]:
class Emp:
    
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
jay.name="jayaram"
jay.id=20
Emp.get(jay)
vedha = Emp()
vedha.name="Vedhanvesh"
vedha.id=23
vedha.sal=23456
Emp.get(vedha)

AttributeError: 'Emp' object has no attribute 'sal'

In [22]:
class Emp:
    def set_data(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
Emp.set_data(jay,"jayaram",20)
#jay.name="jayaram"
#jay.id=20
Emp.get(jay)
vedha = Emp()
#vedha.name="Vedhanvesh"
#vedha.id=23
#vedha.sal=23456
Emp.set_data(vedha,"vedjanvesh",23,23456)
Emp.get(vedha)

jayaram 20 0
vedjanvesh 23 23456

In [23]:
class Emp:
    def set_data(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
Emp.set_data(jay,"jayaram",20)
Emp.get(jay)
vedha = Emp()
Emp.set_data(vedha,"vedjanvesh",23,23456)
Emp.get(vedha)

jayaram 20 0
vedjanvesh 23 23456

In [24]:
class Emp:
    def set_data(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
jay.set_data("jayaram",20)
#Emp.set_data(jay,"jayaram",20)
Emp.get(jay)
vedha = Emp()
vedha.set_data("vedjanvesh",23,23456)
#Emp.set_data(vedha,"vedjanvesh",23,23456)
#Emp.get(vedha)
vedha.get()

jayaram 20 0
vedjanvesh 23 23456

In [25]:
class Emp:
    def set_data(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
jay.set_data("jayaram",20)
jay.get()
vedha = Emp()
vedha.set_data("vedjanvesh",23,23456)
vedha.get()

jayaram 20 0
vedjanvesh 23 23456

In [26]:
class Emp:
    def set_data(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
jay.set_data("jayaram",20)
jay.get()
vedha = Emp()
vedha.set_data("vedjanvesh",23,23456)
vedha.get()
sai=Emp()
sai.get()

jayaram 20 0
vedjanvesh 23 23456

AttributeError: 'Emp' object has no attribute 'name'

In [ ]:
class Emp:
    def set_data(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        print(x.name,x.id,x.sal)
jay=Emp()
jay.set_data("jayaram",20)
jay.get()
vedha = Emp()
vedha.set_data("vedjanvesh",23,23456)
vedha.get()
sai=Emp()
sai.get()

In [27]:
class Emp:
    print("this is class")

this is class

In [28]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")

this is class

In [29]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
jay=Emp()

this is class

In [30]:
class Emp:
    print("this is class")
    def get(x):
        print("this is get")
jay=Emp()
jay.get()

this is class
this is get

In [31]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")
jay=Emp()
jay.get()

this is class
this is init
this is get

In [32]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")
jay=Emp()

this is class
this is init

In [33]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")

this is class

In [35]:
class Emp:
    print("this is class")
    def __init__(x):
        print("this is init")
    def get(x):
        print("this is get")
jay=Emp()
vedha=Emp()

this is class
this is init
this is init

In [36]:
class Emp:
    print("this is class")
    def __init__(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        return x.name,x.id,x.sal
jay=Emp("jayaram",20)
vedha=Emp("vedhanvesh",23,23456)
print(jay.get())
print(vedha.get())

this is class
('jayaram', 20, 0)
('vedhanvesh', 23, 23456)

In [37]:
class Emp:
    print("this is class")
    def __init__(x,name,e_id,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        return x.name,x.id,x.sal
jay=Emp("jayaram",20)
vedha=Emp("vedhanvesh",23,23456)
print(jay.get())
print(vedha.get())
sai=Emp()
print(sai.get())

this is class
('jayaram', 20, 0)
('vedhanvesh', 23, 23456)

TypeError: __init__() missing 2 required positional arguments: 'name' and 'e_id'

In [38]:
class Emp:
    print("this is class")
    def __init__(x,name="",e_id=0,sal=0):
        x.name=name
        x.id=e_id
        x.sal=sal
    def get(x):
        return x.name,x.id,x.sal
jay=Emp("jayaram",20)
vedha=Emp("vedhanvesh",23,23456)
print(jay.get())
print(vedha.get())
sai=Emp()
print(sai.get())

this is class
('jayaram', 20, 0)
('vedhanvesh', 23, 23456)
('', 0, 0)

In [39]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get(self):
        return self.name,self.id,self.sal
jay=Emp("jayaram",20)
vedha=Emp("vedhanvesh",23,23456)
print(jay.get())
print(vedha.get())
sai=Emp()
print(sai.get())

this is class
('jayaram', 20, 0)
('vedhanvesh', 23, 23456)
('', 0, 0)

In [ ]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get(self):
        return self.name,self.id,self.sal
jay=Emp("jayaram",20)
vedha=Emp("vedhanvesh",23,23456)
print(jay.get())
print(vedha.get())
sai=Emp()
print(sai.get())

In [40]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get():
        return self.name,self.id,self.sal
jay=Emp("jayaram",20)
jay.get()#Emp.get(jay)

this is class

TypeError: get() takes 0 positional arguments but 1 was given

In [41]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get(x):
        return self.name,self.id,self.sal
jay=Emp("jayaram",20)
jay.get()#Emp.get(jay)

this is class

NameError: name 'self' is not defined

In [42]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get(x):
        return x.name,x.id,x.sal
jay=Emp("jayaram",20)
jay.get()#Emp.get(jay)

this is class

('jayaram', 20, 0)

In [43]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get(self):
        return self.name,self.id,self.sal
jay=Emp("jayaram",20)
jay.get()#Emp.get(jay)

this is class

('jayaram', 20, 0)

In [44]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get():
        return name,id,sal
jay=Emp("jayaram",20)
jay.get()#Emp.get(jay)

this is class

TypeError: get() takes 0 positional arguments but 1 was given

In [45]:
class Emp:
    print("this is class")
    def __init__(self,name="",e_id=0,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
    def get():
        return name,id,sal
jay=Emp("jayaram",20)
#jay.get()#Emp.get(jay)
Emp.get()

this is class

NameError: name 'name' is not defined

In [2]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
print(jay.get())

('Jayaram', 12, 'Khyaathi')

In [4]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.incp=incp
    def sal_cal(self):
        return self.sal+self.sal*self.incp/100
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
print(jay.sal_cal())

44000.0

In [5]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.incp=incp
    def sal_cal(self):
        return self.sal+self.sal*self.incp/100
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
jay.incp=100
print(jay.sal_cal())

80000.0

In [7]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.__incp=incp # __incp secured attribute
    def sal_cal(self):
        return self.sal+self.sal*self.__incp/100
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
jay.__incp=100
print(jay.sal_cal())

44000.0

In [8]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.__incp=incp # __incp secured attribute
    def change_incp(self,new_incp):
        
        self.__incp=new_incp
    def sal_cal(self):
        return self.sal+self.sal*self.__incp/100
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
#jay.__incp=100
jay.change_incp(100)
print(jay.sal_cal())

80000.0

In [9]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.__incp=incp # __incp secured attribute
    def change_incp(self,new_incp):
        self.__update_incp(new_incp)
        
    def __update_incp(self,new_incp):
        self.__incp=new_incp
    def sal_cal(self):
        return self.sal+self.sal*self.__incp/100
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
#jay.__incp=100
jay.change_incp(100)
print(jay.sal_cal())

80000.0

In [10]:
#encapsulation.
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        self.sal=sal
        self.__incp=incp # __incp secured attribute
    def change_incp(self,new_incp):
        self.__update_incp(new_incp)
        
    def __update_incp(self,new_incp): # secured methods
        self.__incp=new_incp
    def sal_cal(self):
        return self.sal+self.sal*self.__incp/100
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
#jay.__incp=100
jay.__update_incp(100)
print(jay.sal_cal())

AttributeError: 'Emp' object has no attribute '__update_incp'

In [11]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal,incp):
        self.name=name
        self.id=e_id
        
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12,40000,10)
print(jay.get())
print(type(jay))

('Jayaram', 12, 'Khyaathi')
<class '__main__.Emp'>

In [12]:
a=10
print(type(a))

<class 'int'>

In [13]:
a=int(10)
print(type(a))

<class 'int'>

In [14]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
        
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)

TypeError: unsupported operand type(s) for +: 'Emp' and 'Emp'

In [15]:
d1={1:2}
d2={3:4}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [16]:
a=10
b=20
a+b

30

In [17]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [18]:
for i in 1000:
    print(i)

TypeError: 'int' object is not iterable

In [19]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return 10
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)

10

In [20]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)

('Jayaram', 'Vedhanvesh')

In [22]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20

In [23]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
print(jay.__dict__)

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
{'name': 'Jayaram', 'id': 12}

In [24]:
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def get(self):
        return self.name,self.id,self.company_name
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20

TypeError: 'Emp' object is not iterable

In [25]:
#operator overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def get(self):
        return self.name,self.id,self.company_name
    def __iter__(self):
        yield 10
        yield 20
        yield 30
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
10
20
30

In [26]:
#operator overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def get(self):
        return self.name,self.id,self.company_name
    def __iter__(self):
        for k,v in self.__dict__.items():
            yield v
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
Jayaram
12

In [27]:
#operator overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def get(self):
        return self.name,self.id,self.company_name
    def __iter__(self):
        for k,v in self.__dict__.items():
            yield v
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)
print(jay)

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
Jayaram
12
<__main__.Emp object at 0x7f8a6fa1c198>

In [28]:
#operator overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def __str__(self):
        return self.name
    def get(self):
        return self.name,self.id,self.company_name
    def __iter__(self):
        for k,v in self.__dict__.items():
            yield v
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)
print(jay)

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
Jayaram
12
Jayaram

In [29]:
sum([10,20,30])

60

In [30]:
max([10,20,30])

30

In [31]:
#operator overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def __str__(self):
        return self.name
    def get(self):
        return self.name,self.id,self.company_name
    def __iter__(self):
        for k,v in self.__dict__.items():
            yield v
jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)
print(jay)
print(sum(jay))

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
Jayaram
12
Jayaram

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
#operator overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
    def __add__(self1,self2):
        return self1.name,self2.name
    def __sub__(self1,self2):
        return self1.name,self2.name
    def __mul__(self1,self2):
        return self1.name,self2.name
    def __len__(self1):
        return 20
    def __str__(self):
        return self.name
    def get(self):
        return self.name,self.id,self.company_name
    def __iter__(self):
        for k,v in self.__dict__.items():
            yield v

jay=Emp("Jayaram",12)
vedha = Emp("Vedhanvesh",13)
print(jay+vedha)
print(jay-vedha)
print(jay*vedha)
print(len(jay))
for i in jay:
    print(i)
print(jay)
print(sum(jay))

('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
('Jayaram', 'Vedhanvesh')
20
Jayaram
12
Jayaram

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
l=[10,20,30,4]

In [36]:
#method overloading
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id):
        self.name=name
        self.id=e_id
jay=Emp("jayaram",12)
vedhanvesh=Emp("vedhanvesh",13,40000)

TypeError: __init__() takes 3 positional arguments but 4 were given

In [38]:
#method overloading
# default argument, *args, **kwargs
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
jay=Emp("jayaram",12)
vedhanvesh=Emp("vedhanvesh",13,40000)

In [39]:
def fun(a,b):
    print(a,b)
def fun(a,b,c):
    print(a,b,c)
fun(10,20)

TypeError: fun() missing 1 required positional argument: 'c'

In [40]:
#method overloading
# default argument, *args, **kwargs
class Emp:
    company_name="Khyaathi"
    def __init__(self,name,e_id,sal=0):
        self.name=name
        self.id=e_id
        self.sal=sal
jay=Emp("jayaram",12)
vedhanvesh=Emp("vedhanvesh",13,40000)
print(dir(jay))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'company_name', 'id', 'name', 'sal']

In [41]:
jay.__str__?