In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1.sqlite3")

In [3]:
cur  =con.cursor()

In [4]:
q="create table customer(id int,name varcgahr(250))"
cur.execute(q)

In [2]:
q="insert into customer values(1,'Jayaram')"
import sqlite3
con = sqlite3.connect("db1.sqlite3")
cur  =con.cursor()
cur.execute(q)

In [3]:
con.commit()

In [4]:
names=["samba","jay","vedha","mounika","anil","vishnu priya"]
import random
for i in range(2,102):
    q="insert into customer values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()

In [5]:
q="select * from customer"
cur.execute(q)

In [6]:
data = cur.fetchall()
print(data)

[(1, 'Jayaram'), (2, 'mounika'), (3, 'mounika'), (4, 'mounika'), (5, 'samba'), (6, 'vishnu priya'), (7, 'samba'), (8, 'anil'), (9, 'vishnu priya'), (10, 'samba'), (11, 'mounika'), (12, 'vedha'), (13, 'samba'), (14, 'anil'), (15, 'samba'), (16, 'vishnu priya'), (17, 'jay'), (18, 'jay'), (19, 'vedha'), (20, 'samba'), (21, 'vishnu priya'), (22, 'jay'), (23, 'samba'), (24, 'jay'), (25, 'jay'), (26, 'jay'), (27, 'vedha'), (28, 'vedha'), (29, 'samba'), (30, 'mounika'), (31, 'jay'), (32, 'mounika'), (33, 'mounika'), (34, 'anil'), (35, 'jay'), (36, 'vishnu priya'), (37, 'vishnu priya'), (38, 'anil'), (39, 'mounika'), (40, 'mounika'), (41, 'samba'), (42, 'vishnu priya'), (43, 'vedha'), (44, 'mounika'), (45, 'anil'), (46, 'anil'), (47, 'vishnu priya'), (48, 'mounika'), (49, 'mounika'), (50, 'samba'), (51, 'jay'), (52, 'mounika'), (53, 'jay'), (54, 'vishnu priya'), (55, 'anil'), (56, 'anil'), (57, 'anil'), (58, 'anil'), (59, 'mounika'), (60, 'anil'), (61, 'vedha'), (62, 'vedha'), (63, 'vishnu priya'), (64, 'samba'), (65, 'samba'), (66, 'vedha'), (67, 'vedha'), (68, 'vedha'), (69, 'samba'), (70, 'jay'), (71, 'mounika'), (72, 'mounika'), (73, 'jay'), (74, 'samba'), (75, 'vedha'), (76, 'vishnu priya'), (77, 'mounika'), (78, 'jay'), (79, 'samba'), (80, 'jay'), (81, 'samba'), (82, 'jay'), (83, 'samba'), (84, 'vishnu priya'), (85, 'vishnu priya'), (86, 'jay'), (87, 'vishnu priya'), (88, 'jay'), (89, 'mounika'), (90, 'vishnu priya'), (91, 'samba'), (92, 'vishnu priya'), (93, 'vishnu priya'), (94, 'mounika'), (95, 'jay'), (96, 'anil'), (97, 'jay'), (98, 'mounika'), (99, 'jay'), (100, 'anil'), (101, 'samba')]

In [8]:
res={}
for cust_id,cust_name in data:
    if cust_name in res:
        res[cust_name]=res[cust_name]+1
    else:
        res[cust_name]=1
print(res)

{'Jayaram': 1, 'mounika': 20, 'samba': 19, 'vishnu priya': 17, 'anil': 13, 'vedha': 11, 'jay': 20}

In [9]:
sorted(res)

['Jayaram', 'anil', 'jay', 'mounika', 'samba', 'vedha', 'vishnu priya']

In [10]:
def fun(x):
    print(x)
    return x
sorted(res,key=fun)

Jayaram
mounika
samba
vishnu priya
anil
vedha
jay

['Jayaram', 'anil', 'jay', 'mounika', 'samba', 'vedha', 'vishnu priya']

In [11]:
def fun(x):
    print(x)
    return x
sorted(res.items(),key=fun)

('Jayaram', 1)
('mounika', 20)
('samba', 19)
('vishnu priya', 17)
('anil', 13)
('vedha', 11)
('jay', 20)

[('Jayaram', 1),
 ('anil', 13),
 ('jay', 20),
 ('mounika', 20),
 ('samba', 19),
 ('vedha', 11),
 ('vishnu priya', 17)]

In [12]:
def fun(x):
    print(x)
    return x[1]
sorted(res.items(),key=fun)

('Jayaram', 1)
('mounika', 20)
('samba', 19)
('vishnu priya', 17)
('anil', 13)
('vedha', 11)
('jay', 20)

[('Jayaram', 1),
 ('vedha', 11),
 ('anil', 13),
 ('vishnu priya', 17),
 ('samba', 19),
 ('mounika', 20),
 ('jay', 20)]

In [13]:
def fun(x):
    return x[1]
sorted(res.items(),key=fun)

[('Jayaram', 1),
 ('vedha', 11),
 ('anil', 13),
 ('vishnu priya', 17),
 ('samba', 19),
 ('mounika', 20),
 ('jay', 20)]

In [14]:
def fun(x):
    return x[1]
sorted(res.items(),key=fun)[-1]

('jay', 20)

In [16]:
q="select * from customer"
cur.execute(q)
res={}
for cust_id,cust_name in data:
    if cust_name in res:
        res[cust_name]=res[cust_name]+1
    else:
        res[cust_name]=1
def fun(x):

    return x[1]
sorted(res.items(),key=fun)[-1]

('jay', 20)

In [17]:
q="select count(*) as c,name from customer group by name order by c"
cur.execute(q)
print(cur.fetchall())

[(1, 'Jayaram'), (11, 'vedha'), (13, 'anil'), (17, 'vishnu priya'), (19, 'samba'), (20, 'jay'), (20, 'mounika')]

In [18]:
q="select count(*) as c,name from customer group by name order by c desc"
cur.execute(q)
print(cur.fetchall())

[(20, 'jay'), (20, 'mounika'), (19, 'samba'), (17, 'vishnu priya'), (13, 'anil'), (11, 'vedha'), (1, 'Jayaram')]

In [19]:
q="select count(*) as c,name from customer group by name order by c desc limit 1"
cur.execute(q)
print(cur.fetchall())

[(20, 'jay')]

In [20]:
q="update customer set name='JAYARAM' where id=1"
cur.execute(q)
con.commit()

In [21]:
q="delete from customer where id=1"
cur.execute(q)
con.commit()

In [24]:
import psycopg2
import random
con = psycopg2.connect(host="localhost",port=5432,
                       user="postgres",password="root",database="db1")
cur=con.cursor()
q="create table customer(id int,name varchar(250))"
cur.execute(q)
names=["samba","jay","vedha","mounika","anil","vishnu priya"]

for i in range(100):
    q="insert into customer values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
    con.commit()

In [25]:
q="select count(*) as c,name from customer group by name order by c desc limit 1"
cur.execute(q)
print(cur.fetchall())

[(22, 'samba')]