In [1]:
num1 = input("enter number1:")
num2 = input("enter number2:")
num1 = int(num1)
num2 = int(num2)
print(num1+num2)

enter number1:12
enter number2:34
46

In [2]:
num1 = input("enter number1:")
num2 = input("enter number2:")
num1 = int(num1)
num2 = int(num2)
print(num1+num2)

enter number1:12.34
enter number2:56.78

ValueError: invalid literal for int() with base 10: '12.34'

In [3]:
num1 = input("enter number1:")
num2 = input("enter number2:")
num1 = float(num1)
num2 = float(num2)
print(num1+num2)

enter number1:12.34
enter number2:56.78
69.12

In [4]:
num1 = input("enter number1:")
num2 = input("enter number2:")
num1 = float(num1)
num2 = float(num2)
print(num1+num2)

enter number1:12
enter number2:34
46.0

In [5]:
num1 = input("enter number1:")
num2 = input("enter number2:")
num1 = float(num1)
num2 = float(num2)
print(num1+num2)

enter number1:23
enter number2:wert

ValueError: could not convert string to float: 'wert'

In [6]:
print("hello world")

hello world

In [7]:
name="Jay"
print(name)

Jay

In [8]:
name="Jay"
print("Hi",name)

Hi Jay

In [9]:
name="Jay"
print("Hi",name,sep="")

HiJay

In [10]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:",name,", Cost:",cost)

product details: Name: Samsung galaxy , Cost: 2345.6789

In [11]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:",name,", Cost:",cost,sep="")

product details: Name:Samsung galaxy, Cost:2345.6789

In [12]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print(f"product details: Name:name, Cost:cost")

product details: Name:name, Cost:cost

In [13]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print(f"product details: Name:{name}, Cost:{cost}")

product details: Name:Samsung galaxy, Cost:2345.6789

In [14]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print(f"product {details}: Name:{name}, Cost:{cost}")

NameError: name 'details' is not defined

In [15]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print(f"product {{details}}: Name:{name}, Cost:{cost}")

product {details}: Name:Samsung galaxy, Cost:2345.6789

In [16]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print(f"product {{details}}: Name:{name}, Cost:{round(cost,2)}")

product {details}: Name:Samsung galaxy, Cost:2345.68

In [17]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print(f"product {{details}}: Name:{name}, Cost:{int(cost)}")

product {details}: Name:Samsung galaxy, Cost:2345

In [18]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:%s, Cost:%s",(name,cost))

product details: Name:%s, Cost:%s ('Samsung galaxy', 2345.6789)

In [19]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:%s, Cost:%s"%(name,cost))

product details: Name:Samsung galaxy, Cost:2345.6789

In [20]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:%s, Cost:%d"%(name,cost))

product details: Name:Samsung galaxy, Cost:2345

In [21]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:%s, Cost:%f"%(name,cost))

product details: Name:Samsung galaxy, Cost:2345.678900

In [22]:
name="Samsung galaxy"
cost=2345.67890
# product details: Name:Samsung galaxy, Cost:2345.67890
print("product details: Name:%s, Cost:%.2f"%(name,cost))

product details: Name:Samsung galaxy, Cost:2345.68

In [23]:
print("%o"%1234)
print("%x"%1234)

2322
4d2

In [24]:
s="python \n is a pure \t object\n oriented \n programing\t language"
print(s)

python
 is a pure 	 object
 oriented
 programing	 language

In [25]:
s="python \\n is a pure \\t object\\n oriented \\n programing\\t language"
print(s)

python \n is a pure \t object\n oriented \n programing\t language

In [26]:
s=r"python \n is a pure \t object\n oriented \n programing\t language"
print(s)

python \n is a pure \t object\n oriented \n programing\t language

In [27]:
s="python"
print(len(s))

6

In [28]:
s="python\n\n\n"
print(len(s))

9

In [29]:
s=r"python\n\n\n"
print(len(s))

12

In [31]:
k="python \n is a pure \t object\n oriented \n programing\t language"
print("%s"%k)

python
 is a pure 	 object
 oriented
 programing	 language

In [32]:
k="python \n is a pure \t object\n oriented \n programing\t language"
print("%r"%k)

'python \n is a pure \t object\n oriented \n programing\t language'

In [33]:
s=10+20/3

In [34]:
print(s)

16.666666666666668

In [35]:
# operator precedency table
(10+20)/3

10.0

In [36]:
#WAP to convert temparature foreignheat to celcius
#(F-32)*5/9
F=input("enter temparature in foreignheat:")
F=int(F)
C=(F-32)*5/9
print("Given temparature in celcius:",C)

enter temparature in foreignheat:64
Given temparature in celcius: 17.77777777777778

In [37]:
#WAP to convert temparature foreignheat to celcius
#(F-32)*5/9
F=input("enter temparature in foreignheat:")
F=int(F)
C=(F-32)*5/9
print("Given temparature in celcius:",round(C,4))

enter temparature in foreignheat:64
Given temparature in celcius: 17.7778

In [38]:
#WAP to calculate a+b whole qube.
a=10
print(a**3)

1000

In [39]:
a*a*a

1000

In [40]:
a=10
b=20
(a+b)**3

27000

In [42]:
a=10
b=20
print((a+b)**3)
print(a**3+b**3+3*a**2*b+3*a*b**2)

27000
27000

In [43]:
a=10
b=20
print((a+b)**3)
print(a**3+b**3+3*a**2*b+3*a*b**2)
print(a**3+b**3+3*a*b*(a+b))

27000
27000
27000

In [44]:
print("₹")

₹

In [45]:
print("చైనావేర్")

చైనావేర్

In [46]:
#boolean expressions

In [47]:
a=10
b=20
a>b

False

In [48]:
a<b

True

In [49]:
a=1000
b=1000
a==b

True

In [50]:
a=1000
b=1000
a is b

False

In [52]:
a=1000
b=1000
print(a==b)
print( a is b)

True
False

In [53]:
a=1000
b=a
print(a==b)
print( a is b)

True
True

In [54]:
a=1000
b=a
print(a,b)
print(a==b)
print(id(a),id(b))
print( a is b)

1000 1000
True
139742265809648 139742265809648
True

In [55]:
a=1000
b=1000
print(a,b)
print(a==b)
print(id(a),id(b))
print( a is b)

1000 1000
True
139742265809872 139742265809456
False

In [56]:
# wap to check whether the given sub string is ther actual string or not?
act="python is a pure object oriented programing language"
print("python" in act)

True

In [57]:
# wap to check whether the given sub string is ther actual string or not?
act="python is a pure object oriented programing language"
print("on is" in act)

True

In [58]:
# wap to check whether the given sub string is ther actual string or not?
act="python is a pure object oriented programing language"
print("onis" in act)

False

In [59]:
1 in [10,20,30,40]

False

In [60]:
1 in (10,20,30,40)

False

In [61]:
1 in {10,20,30,40}

False

In [62]:
# composite binary operators and or 
a=10
b=20
c=30
a>b

False

In [63]:
# composite binary operators and or 
a=10
b=20
c=30
a>b or c>b

True

In [66]:
a=1000
c= a==1000 and python
print(c)

NameError: name 'python' is not defined

In [65]:
a=1000
c= a==123 and python
print(c)

False

In [67]:
a=1000
c= a==1000 or python
print(c)

True

In [68]:
a=1000
c= a==10 or python
print(c)

NameError: name 'python' is not defined

In [69]:
bool(10)

True

In [70]:
bool(0)

False

In [71]:
bool(1)

True

In [72]:
bool(-10)

True

In [73]:
bool(0.1)

True

In [74]:
bool(0.0)

False

In [75]:
bool(1.2)

True

In [76]:
bool(-23.45)

True

In [77]:
bool("python")

True

In [78]:
bool("")

False

In [79]:
bool([10,20,30])

True

In [80]:
bool([])

False

In [81]:
bool((1,2,3,4))

True

In [82]:
bool(())

False

In [83]:
bool({1,2,3,4})

True

In [84]:
bool({})

False

In [85]:
bool([0])

True

In [86]:
bool(0)

False

In [87]:
bool("0")

True

In [88]:
bool("")

False

In [89]:
a= 10 and 20
print(a)

20

In [90]:
a= 10 or 20
print(a)

10

In [91]:
a= 0 or 20
print(a)

20